<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqcOXT9aFZHZKXftOC7yq1nx4udDh5e6I</string>
	<key>GCM_SENDER_ID</key>
	<string>161512401595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.underdog.CarLog</string>
	<key>PROJECT_ID</key>
	<string>carlog-3275c</string>
	<key>STORAGE_BUCKET</key>
	<string>carlog-3275c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161512401595:ios:9a3f5dae965bb81eba579e</string>
</dict>
</plist>